[Unit]
Description=Stop StreetSmart training at 11:30

[Timer]
OnCalendar=*-*-* 11:30:00
AccuracySec=1min
Unit=streetsmart-night-stop.service

[Install]
WantedBy=timers.target
